---
import { languages } from "@cv";
import Section from "../Section.astro";
---

<Section title="Idiomas" animationDelay="5">
  <ul>
    {
      languages.map(({ language, fluency }) => (
        <li>
          {language}: <span>{fluency}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    gap: 16px;
  }

  li {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #333;
  }

  span {
    font-weight: 300;
  }
</style>
